.task-page {
    background-color: #f4f4f4;
}

.input-title, .input-step, .input-note, .input-detailTask, .step-title {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

textarea {
    resize: none;
}

.btn-taskItem {
    border: none;
    outline: none;
    background-color: transparent;
    color: #4f4f50;
    margin: 10px 0px;
    width: 100%;
    text-align: start;
}

.step-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.btn-deleteStep {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 15px;
}

.btn-deleteStep span {
    color: #b3b3b4;
}

.taskItem {
    padding: 5px 10px;
    border-bottom: 1px solid #f4f4f4;
}

.taskItem:hover {
    background-color: #f4f4f4;
}

.box-item-right {
    margin: 10px;
}

.dueDate {
    position: absolute;
    right: 20px;
    font-size: 13px;
}

.btn-toolBar {
    outline: none;
    border: none;
    background-color: transparent;
    color: #3e69e4;
}

.btn-toolBar span {
    margin-bottom: -5px;
}
